body {
  background-color: #333;
  color: #eee;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #A5C9FF;
  margin-bottom: 20px;
}

.main-image {
  display: block;
  width: 1000px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.split-view {
    display: flex;
    gap: 40px;
    justify-content: space-around;
}

.people-section, .gifts-section {
    flex: 1;
    padding: 20px;
}

.people-section h3 {
    text-align: center;
    color: #A5C9FF;
    margin-bottom: 30px;
}



.gifts-section h3 {
    text-align: center;
    color: #A5C9FF;
    margin-bottom: 30px;
}

.gift-header {
  font-style: italic;
  font-size: 20px;
}

/* Gift Section */
.gift-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.gift-card {
  background: #222;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 15px;
  width: 250px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  text-align: center;
  white-space: normal;
  overflow: visible;
  position: relative;
}

.gift-card h3 {
  color: #A5C9FF;
  margin-top: 0;
}

.form-header {
  color: #A5C9FF;
  margin-top: 4px;
}

/* People Section */
.people-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.people-card {
  background: #222;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 15px;
  width: 250px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  text-align: center;
}

.people-card h3 {
  color: #A5C9FF;
  margin-top: 0;
}

.p-modal-button {
  color: #A5C9FF;
  background: #333;
  border-radius: 12px;
  padding: 10px 12px;
  border: 1px solid white;
  margin-left: 4px;
  margin-top: 6px;
}

.edit-input {
  padding: 10px 12px;
  background: #333;
  border-radius: 8px;
  color: #A5C9FF;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
}

.gift-edit-input {
  background: #333;
  border-radius: 8px;
  color: #A5C9FF;
  width: 90%;
  padding: 10px;
}

.gift-modal form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Add Person */
.add {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  gap: 10px;
}

.add-input {
  padding: 10px 12px;
  background: #333;
  border-radius: 8px;
  color: #A5C9FF;
}

.add-person::placeholder {
  color: slategray;
}

.add-btn {
  padding: 10px 12px;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 8px;
  color: #A5C9FF;
  background: #333;
}

